.message {
  display: flex;
  margin-bottom: 8px;
  padding: 8px 16px;
  background-color: #ffffff;
  border-radius: 0px 16px 16px 16px;
  gap: 8px;
  transition: background-color 0.2s;
  width: fit-content;
  max-width: 70%;
}

.message--own {
  border-radius: 16px 0 16px 16px;
  background-color: #e1eef5;
  margin-left: auto;
}

.message:hover {
  background-color: #f9f9f9;
}

.message--own:hover {
  background-color: #d6e7f3;
}

.message-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 0;
  flex-shrink: 0;
  object-fit: cover;
}

.message-content {
  flex: 1;
  min-width: 0;
}

.message-header {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 4px;
}

.message-name {
  font-weight: 600;
  font-size: 13px;
  color: #272727;
  margin: 0;
}

.message-timestamp {
  font-size: 12px;
  color: #939393;
}

.message-text {
  font-size: 13px;
  color: #272727;
  margin: 0;
  word-wrap: break-word;
  line-height: 1.6;
}

.message-without-avatar {
  padding-left: 40px;
}
